.banner-mobile{
    max-width: 100%;
    max-height: 300px;
 }

.banner-desktop{
    display: none;
}

.banner-desktop-max{
    display: none;
}

@media (min-width: 768px){
    .banner-mobile{
        display: none;
    }

    .banner-desktop{
        display: flex;
        margin: auto;
        max-width: 100%;
        max-height: 300px;
     }
}

@media (min-width: 1600px){

    .banner-desktop{
        display: none;
    }

    .banner-desktop-max{
        display: block;
        display: flex;
        margin: auto;
        max-width: 100%;
        max-height: 300px;
    }
}