.distribuidores .tarjetas .informacion{
    background-color: #f4f6f7;
    margin: 1.5rem;
    border-radius: 6px;
    padding: 0.75rem;
}

.distribuidores .tarjetas .informacion .titulo{
    color: #2a2c2e;
    text-align: center;
    margin-top: 1vh;
    font-size: 4vh;
    font-weight: 600;
}

.distribuidores .tarjetas .informacion .texto{
    color: #000;
    text-align: center;
    font-size: 2.85vh;
    padding: 0 1.25rem;
}

.distribuidores .tarjetas .nuevosDistribuidores{
    background-color: #2a2c2e;
    margin: 0 1.5rem;
    border-radius: 6px;
    padding: 0.75rem;
}

.distribuidores .tarjetas .nuevosDistribuidores .titulo{
    text-align: center;
    margin-top: 4vh;
    color: #fff;
    font-size: 3.75vh;
    font-weight: 600;
}

.distribuidores .tarjetas .nuevosDistribuidores .texto{
    color: #fff;
    text-align: center;
    font-size: 2.85vh;
    padding: 0 1.25rem;
}

 .distribuidores .nuevosDistribuidores .whatsapp{
    background-color: #299651;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    margin: 1.25rem 1rem;
    text-align: center;
    padding: 1rem;
    padding-top: 0.75rem;
}

.distribuidores .nuevosDistribuidores .whatsapp .fa-whatsapp{
    color: #fff;
    font-size: 1.8rem;
    margin-top: 0rem;
}

.distribuidores .nuevosDistribuidores .whatsapp .texto{
    font-size: 1.1rem;  
    margin-top: -1rem;
    color: #fff;
} 



/* mapa */

.distribuidores .mapa{
    background-color: #f4f6f7;
    margin-top: 2.25rem;
    padding: 0.5rem 0;
}

.distribuidores .mapa .titulo{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1rem;
    padding: 1rem 1rem 0 1rem;
}

.distribuidores .mapa .googleMap{
    display: flex;
    margin: auto;
    width: 80vw;
    padding-top: 0.5rem;
    border-color: #2a2e33;
    border-radius: 15px;
    padding-bottom: 1rem;
}

@media (min-width: 768px){

    .distribuidores .tarjetas .informacion,
    .distribuidores .tarjetas .nuevosDistribuidores{
        margin: 3rem 8rem;
}

.distribuidores .tarjetas .informacion .texto,
.distribuidores .tarjetas .nuevosDistribuidores .texto {
    padding: 0 2.25rem;
    margin-top: 1rem;
}

.distribuidores .nuevosDistribuidores .whatsapp {
    margin: 1.25rem 2rem;
}

.distribuidores .whatsapp .texto{
    font-size: 4rem;
}

.distribuidores .tarjetas .nuevosDistribuidores .titulo{
    margin-top: 1rem;
}

.distribuidores .nuevosDistribuidores .whatsapp .fa-whatsapp{
    font-size: 2.5rem;
}

.distribuidores .nuevosDistribuidores .whatsapp .texto{
    font-size: 1.8rem;  
} 

.distribuidores .mapa .googleMap{
    width: 80vw;
    height: 350px;
    padding-bottom: 1rem;
  }

.distribuidores .mapa .googleMap{
    width: 80vw;
    height: 350px;
  }

  .distribuidores .mapa .titulo{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1rem;
  }  
}

@media (min-width: 1024px){

    .distribuidores{
        margin: 1rem 1.5rem;
    }

    .distribuidores .tarjetas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .distribuidores .tarjetas .informacion,
    .distribuidores .tarjetas .nuevosDistribuidores{
        width: 40vw;
        margin: 2rem 0;
        padding: 1rem 0;
    }

    .distribuidores .nuevosDistribuidores .whatsapp .fa-whatsapp{
        font-size: 2vw;
    }
    
    .distribuidores .nuevosDistribuidores .whatsapp .texto{
        font-size: 2vw;  
    } 

    .distribuidores .mapa{
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: #f4f6f7;
        padding: 1.35rem;
        margin: 0.5rem 6rem 2rem 6rem;
        border-radius: 10px;
    }

    .distribuidores .mapa .titulo{
        font-size: 30px;
    font-weight: 300;
    margin-bottom: 1rem;
    padding: 0 8rem;
    }
   

    .distribuidores .mapa .googleMap{
        width: 70vw;
        height: 380px;
        padding-top: 0.5rem;
        border-color: #2a2e33;
        border-radius: 15px;
      }
    
}

@media (min-width: 1440px){
    
    .distribuidores .mapa .googleMap{
        height: 520px;
}

}