.footer{
    background-color: #2a2c2e!important;
    color: #fff!important;
}

.footer .menu .lista a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.footer .menu .lista a:hover{
    font-weight: 700;
}

.footer .datos{
    margin-top: 2.5rem;
    padding-top: 2rem;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.footer .datos .logoFooter{
    width: 70vw;
    display: flex;
    margin: -1rem auto;
    margin-top: -2rem;
    margin-bottom: -2.5rem;
}

.footer .datos .titulo{
    font-size: 1.75rem;
}

.footer .datos .slogan{
    font-size: 1.35rem;
    margin-top: 1.25rem;
    color: #fff;
}

.footer .datos .ubicacion{
    color: #76777B!important;
    font-weight: 600;
    font-size: 1.15rem;
}

.footer .datos .ubicacion:hover{
    font-weight: 900;
}

/* redes */

.footer .iconosMenu .iconos{
    display: flex;
    justify-content: center;
}

.footer .iconosMenu .fa-instagram,
.footer .iconosMenu .fa-tiktok,
.footer .iconosMenu .fa-whatsapp{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.3rem;
    font-size: 1.75rem;
}

.footer .iconosMenu .fa-instagram{
    background-color: #E1306C;
    border-radius: 50%;
}

.footer .iconosMenu .fa-tiktok{
    background-color: black;
    border-radius: 50%;
}

.footer .iconosMenu .fa-whatsapp{
    background-color: #25D366;
    border-radius: 50%;
}

.footer .iconosMenu .fa-instagram:hover,
.footer .iconosMenu .fa-tiktok:hover,
.footer .iconosMenu .fa-whatsapp:hover
{
    font-weight: 700;
}


.footer .iconosMenu .derechos{
    text-align: center;
    color: #787b85;
    font-weight: 600;
    margin-top: -1rem;
    margin-bottom: 0rem;
    padding-bottom: 2rem;
    font-size: 3.35vw;
}

.footer .menu{
    text-align: center;
    align-items: center;
}

.footer .menu .lista{
    list-style: none;
    display: inline-block;
    padding: 1rem 1rem;
}

.footer .menu .lista li{
    float: left;
    padding: 0 1rem;
}

/* Tablet */
@media (min-width: 768px){

    .footer .datos .logoFooter{
        width: 50vw;
        margin: -3rem auto;
        margin-top: -4rem;
    }

    .footer .iconosMenu .derechos{
        font-size: 2.5vw;
    }
}
    

/* Desktop */
@media (min-width: 1024px){

    .footer{
        display: flex;
        justify-content: center;
    }

    .footer .datos .logoFooter{
        width: 250px;
        margin: 0rem auto;
        margin-top: -2.5rem;
    }

    .footer .datos .slogan{
        margin-top: -1.65rem;
        font-size: 16px;
    }

    
    .footer .datos{
        margin-top: -1rem;
        padding: 3rem 4rem 0rem 4rem;
    }

    .footer .iconosMenu{
        margin-top: -1rem;
        padding: 3.75rem 4rem 0rem 4rem;
    }

    .footer .iconosMenu .fa-instagram,
    .footer .iconosMenu .fa-tiktok,
    .footer .iconosMenu .fa-whatsapp{
    font-size: 1.35rem;
}

    .footer .iconosMenu .derechos {
        font-size: 1vw;
        margin-top: -1.2rem;
    }
}