@font-face{
    font-family:'bueno';
    src: url('../fonts/bueno-regular.woff2') format('woff2'),
         url('../fonts/bueno-regular.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
    font-display:swap;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    cursor: pointer;
}

/* colores */

.classic{
    background-color: #00ACBB;
    border: #00ACBB;
}

.lavanda{
    background-color: #8B85CA;
}

.premium{
    background-color: #FF8C1E;
    border: #FF8C1E;
}

.sensitive{
    background-color: #dc5572;
    border: #dc5572;
}

.original{
    background-color: #98c21e;
    border: #98c21e;
}

.detox{
    background-color: #cedd00;
    border: #cedd00;
}


.Classic{
    color: #00ACBB;
}

.Lavanda{
    color: #8B85CA;
}

.Premium{
    color: #FF8C1E;
}

.Sensitive{
    color: #dc5572;
}

.Original{
    color: #98c21e;
}

.Detox{
    color: #cedd00;
}

.white {
    color: #fff;
}