/* banner */
.index .banner{
    display: flex;
    flex-direction: column;
    background-color: #fff;
 }

.index .banner .subtitulo{
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    margin-top: 1.5rem;
}

/* video */
.index .video{
    margin: 2rem auto;
}

.index .video .videoYoutube{
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}

.index .video .titulo{
    text-align: center;
    margin-top: 3.5vh;
    color: #44464B;
    font-size: 3.5vh;
}

.index .video .texto{
    color: #76777B;
    text-align: center;
    font-size: 2.85vh;
    padding: 0 1.25rem;
}

.index .banner .imagen{
    display: none;
}

/* redes sociales */

.index .banner .video{
    display: flex;
    flex-direction: column;
}

/* información */

.index .data{
    display: flex;
    flex-direction: column;
    background-color: #2a2c2e;
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
}

.index .data .titulo{
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    font-weight: 700;
    margin: 1.5rem 0.5rem 0.75rem 1.5rem;
    color: #fff;
}

.index .data .subtitulo{
    font-size: 25px;
    line-height: 40px;
    text-align: left;
    font-weight: 300;
    margin: -0.5rem 1.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
}

.index .data .texto{
    padding: 0.55rem 1.5rem;
    text-align: left;
    font-size: 16px;
    color: #fff;
}

.index .data .lista{
    list-style: none;
    text-align: left;
    margin: 0 0 1.5rem -0.5vw;
}

.index .data .fa-check{
    color: #dc5572;
    padding: -3rem 0rem;
    text-align: left;
    font-size: 15px;
}

.index .data .tickTexto{
    color: #fff;
    padding-left: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* banner mercadolibre */

.index .bannerML{
    background-color: #f4f6f7;
}
.index .bannerML .imagen{
    margin: 1rem auto;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
    width: 100%;
    cursor: pointer;
    opacity: 93%;
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
}

.index .bannerML .imagen:hover{
    opacity: 100%;
}


/* Productos */
.index .productos{
    margin-top: 0rem;
}

.index .informacion{
    background-color: #f4f6f7;
    margin-top: -0.35rem;
    padding: 1rem;
}

.index .informacion .titulo,
.index .informacion .texto{
    text-align: left;
    padding-left: 0.25rem;
}

.index .informacion .titulo{
    text-transform: uppercase;
    font-weight: 600;
}

.index .informacion .productos .texto{
    padding: 0.350rem 1.7rem;
    text-align: center;
}

.index .informacion .accordion{
    margin-bottom: 1rem;
}

.index .informacion .accordion-item{
    background-color: #f4f6f7;
}

.index .informacion .accordion-body{
    text-align: center;
}

.index .informacion .accordion #acordeon-classic{
    background-color: #00ACBB;
    font-weight: 600;
    color: #fff;
}

.index .informacion .accordion #acordeon-premium{
    background-color: #FF8C1E;
    font-weight: 600;
    color: #fff;
}

.index .informacion .accordion #acordeon-sensitive{
    background-color: #dc5572;
    font-weight: 600;
    color: #fff;
}

.index .informacion .accordion-collapse{
    transition: 800ms;
}


.index .informacion .img{
    display: flex;
    margin: 0.5rem auto;
    justify-content: center;
    width: 67%;
    border-radius: 5px;
}

.index .informacion .img2,
.index .informacion .img3{
    display: none;
}

.index .informacion .accordion .boton-carrusel{
    align-items: center;
    text-align: center;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.index .informacion .accordion .boton-carrusel:hover{
    background-color: #2a2c2e;
    opacity: 90%;
}



/* Contacto */

.index .contacto .informacionContacto{
    margin-top: 3rem;
}
  
.index .contacto .titulo{
    text-align: center;
    margin-top: 3.5vh;
    color: #44464B;
    font-size: 4vh;
    font-weight: 600;
}

.index .contacto .texto {
    color: #76777B;
    text-align: center;
    font-size: 2.85vh;
    padding: 0 1.25rem;
}

.index .contacto .datos .tarjeta1{
    display: flex;
    justify-content: center;
    background-color: #dc5572;
    border-radius: 6px;
    color: white;
    padding: 2rem 0rem;
    margin: 0 2.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.index .contacto .datos .texto{
    color: white;
    margin-top: -2.1vh;
}

.fa-envelope{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.15rem;
    margin-top: -1.25vh;
}


/* Formulario */
.index .formulario{
    background-color: #f4f6f7;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #f4f6f7;
    border-radius: 5px;
}

.index .boton{
    padding: 0.75rem 2rem;
    background-color: #dc5572;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 4px;
}


/* TABLET */

@media (min-width: 768px){  

    /* Banner */


.index .banner .subtitulo{
    margin-top: 2rem;
    padding: 0 10rem;
    line-height: 60px;
} 

.index .videoYoutube{
    width: 60vw;
    height: 33vh;
}

/* redes sociales */

.index .banner .listaMobile{
    padding: 0;
    justify-content: center;
}

    /* Información */

    .index .data{
        padding: 0 1rem;
    }
    
    .index .data .titulo{
        margin: 2.5rem 0.5rem 0.75rem 1.5rem;
    }
    
    .index .data .subtitulo{
        font-size: 30px;
        margin-top: 0rem;
    }
    
    .index .data .texto{
        font-size: 19px;
        padding: 1.5rem 2rem 0rem 1.5rem;
    }
    
    .index .data .lista{
        line-height: 30px;
        }
    
/* Productos */

.index .productos .informacion{
    margin: -0.5rem 0rem;
    padding: 1rem 1.5rem;
}

.index .informacion .titulo{
    font-size: 5vh;
    padding: 0rem;
    text-align: left;
}

.index .informacion .texto{
    font-size: 20px;
}

.index .informacion .accordion #acordeon-classic,
.index .informacion .accordion #acordeon-premium,
.index .informacion .accordion #acordeon-sensitive{
    font-size: 1.35rem;
}

.index .informacion .accordion .boton-carrusel{
    font-size: 1.25rem;
}

.index .informacion .accordion-body{
    font-size: 20px;
}

.index .informacion .img{
    width: 50%;
    border-radius: 5px;
}

/* carrusel */
.carousel.pointer-event{
    margin: 1rem 5rem;
    }


/* Contacto */

    .index .contacto{
        margin: 3rem 0rem;
    }
    
    .index .contacto .titulo{
        font-size: 5vh;
        text-transform: uppercase;
    }
    
    .index .contacto .texto {
        padding: 0.5rem 3rem;
    }
    
    .index .contacto .datos .tarjeta1{
        margin: 0 3rem 1rem 3rem;
    }
    
    .index .contacto .datos .texto {
        font-size: 1.8rem;
        margin-top: -3.85vh;
    }
    
   .index .fa-envelope{
        font-size: 1.8rem;
        margin-top: -1.3vh;
    }
    
    .index .contacto .form-label{
        font-size: 2.85vh;
    }
    
    .index .boton{
        font-size: 1.25rem;
    }
    
}

/* Desktop */

@media (min-width:1024px){


    /* banner */

    .index .banner{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .index .videoYoutube{
        width: 575px;
        height: 323px;
    }

    .index .banner .imagen{
        width: 80%;
        margin-top: 0rem;
    }

    .index .banner .subtitulo{
        margin-top: 5rem;
        font-size: 3rem;
        padding: 0 6vw;
        line-height: 80px;
    }

    /* informacion */

    .index .data{
        margin: 1rem 0 0 0; 
        padding: 0 3rem;
        }

    .index .data .titulo{
        text-align: start;
        padding: 0 3rem;
    }

    .index .data .texto{
        padding: 1.5rem 4rem 0rem 4.5rem;
    }

    .index .data .subtitulo{
        font-size: 30px;
        line-height: 40px;
        padding-left: 3rem;
    }

    .index .data .lista{
        margin: 2.2rem;
        font-size: 22px;
        display: flex;
        justify-content:start;
    }

    .index .data .lista2{
        padding: 0 7rem;
    }

    /* .bannerML */
    .index .bannerML .imagen{
        margin: auto;
        display: flex;
        justify-items: center;
        width: 80%;
        height: 55vh;
    }
   

/* productos */

.index .productos .informacion{
    margin: 0vh;
    padding: 3vh 15vh;
}

/* carrusel */
.carousel.pointer-event{
    margin: 1rem 20vh;
    }

    .index .informacion .container{
        display: flex;
        justify-content: center;
    }

    .index .informacion .img{
        width: 26%;
        margin: 0;
    }
    
    .index .informacion .img,
    .index .informacion .img2,
    .index .informacion .img3{
    display: inline;
    width: 26%;
    padding: 0 1rem;
    margin: 1rem 0 2rem 0;
}

    /* banner ml */

    .index .bannerML .imagen{
        height: 100%;
        width: 100%;
        margin-top: -1rem;
    }

 /* .contacto */   
    
    .index .contacto{
        display: flex;
        justify-content: space-around;
    }

    .index .contacto .informacionContacto{
        width: 35vw;
        padding: 0;
        margin: -1rem 0 0 2rem;
    }

    .index .contacto .informacionContacto .titulo,
    .index .contacto .informacionContacto .texto{
        text-align: center;
        padding: 0.25rem 0;
    }

    .index .contacto .informacionContacto .texto{
        font-size: 20px;
    }

    .index .informacionContacto .contacto .texto{
        padding: 1rem 0rem;
        margin: 0;
        padding: 1rem 0;
    }

    .index .contacto .formulario{
        width: 45vw;
    }

    .index .contacto .datos .tarjeta1{
        margin: 0 1rem 1rem 1rem;
        padding: 3.5rem;
    }

    .index .contacto .fa-envelope{
        display: inline;
        margin-top: -3vh;
        margin-right: 1rem;
    }
    
}

@media (min-width: 1240px){

}
