/* banner */
.index .banner{
    display: inline;
    flex-direction: column;
    background-color: #fff;
 }

.index .banner .subtitulo{
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    margin-top: 1.5rem;
}

/* video */
.index .presentacion{
    margin: 2rem auto;
    margin-top: 0;
    display: block;
}

.index .videoYoutube{
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    padding: 0 8vw;
}

.contenedorVideo{
    border-radius: 50px;
}

.index .banner .presentacion .parrafo{
    display: none;
}

/* redes sociales */

.index .banner .presentacion{
    display: flex;
    flex-direction: column;
}

/* información */

.index .data{
    display: flex;
    flex-direction: column;
    background-color: #2a2c2e;
}

.index .data .titulo{
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    font-weight: 700;
    margin: 1.5rem 0.5rem 0.75rem 1.5rem;
    color: #fff;
}

.index .data .subtitulo{
    font-size: 25px;
    line-height: 40px;
    text-align: left;
    font-weight: 300;
    margin: -0.5rem 1.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
}

.index .data .texto{
    padding: 0.55rem 1.5rem;
    text-align: left;
    font-size: 16px;
    color: #fff;
}

.index .data .lista{
    list-style: none;
    text-align: left;
    margin: 0 0 0rem -0.5vw;
}

.index .data .contenedor{
    margin-bottom: 2rem;
}

.index .data .fa-check{
    color: #dc5572;
    padding: -3rem 0rem;
    text-align: left;
    font-size: 15px;
}

.index .data .tickTexto{
    color: #fff;
    padding-left: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* banner mercadolibre */

.index .bannerML,
.index .bannerMLDesktop,
.index .bannerMLDesktopMax{
    background-color: #f4f6f7;
    cursor: pointer;
}

.index .bannerML .imagen{
    margin: 1rem auto;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
    width: 100%;
    opacity: 93%;
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
}

.index .bannerML .imagen:hover,
.index .bannerMLDesktop .imagen:hover,
.index .bannerMLDesktopMax .imagen:hover{
    opacity: 100%;
}

.index .bannerMLDesktop,
.index .bannerMLDesktopMax{
    display: none;
}

/* Productos */
.index .productos{
    margin-top: 0rem;
}

.index .informacion{
    background-color: #f4f6f7;
    margin-top: -0.35rem;
    padding: 2rem 1.25rem 0rem;
}

.index .informacion .titulo,
.index .informacion .texto{
    text-align: left;
    padding-left: 0.25rem;
}

.index .informacion .titulo{
    text-transform: uppercase;
    font-weight: 600;
}

.index .informacion .productos .texto{
    padding: 0.350rem 1.7rem;
    text-align: center;
}

.index .informacion .accordion{
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.index .informacion .accordion-item{
    background-color: #f4f6f7;
}
.index .informacion .accordion-body{
    text-align: center;
}

.index .informacion .accordion #acordeon-classic{
    background-color: #00ACBB;
    font-weight: 600;
    color: #000;
}

.index .informacion .accordion #acordeon-premium{
    background-color: #FF8C1E;
    font-weight: 600;
    color: #000;
}

.index .informacion .accordion #acordeon-sensitive{
    background-color: #dc5572;
    font-weight: 600;
    color: #000;
}

.index .informacion .accordion #acordeon-original{
    background-color: #98c21e;
    font-weight: 600;
    color: #000;
}

.index .informacion .accordion #acordeon-detox{
    background-color: #cedd00;
    font-weight: 600;
    color: #000;
}

.index .informacion .accordion-collapse{
    transition: 800ms;
}

.index .informacion .img{
    display: flex;
    margin: 0.5rem auto;
    justify-content: center;
    width: 67%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.index .informacion .img2,
.index .informacion .img3{
    display: none;
}

.index .informacion .accordion .boton-carrusel{
    align-items: center;
    text-align: center;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 1.1rem;
    margin-top: 1.65rem;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.index .informacion .accordion .boton-carrusel:hover{
    transition: 1s;
    background-color: #2a2c2e;
    opacity: 90%;
}

/* Contacto */

.index .contacto .informacionContacto{
    margin-top: 3rem;
}
  
.index .contacto .titulo{
    text-align: center;
    margin-top: 3.5vh;
    color: #44464B;
    font-size: 4vh;
    font-weight: 600;
    text-transform: uppercase;
}

.index .contacto .texto {
    color: #76777B;
    text-align: center;
    font-size: 2.85vh;
    padding: 0 1.25rem;
}

.index .contacto .datos .tarjeta1{
    display: flex;
    justify-content: center;
    background-color: #dc5572;
    border-radius: 6px;
    color: white;
    padding: 2rem 0rem;
    margin: 0 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

.index .contacto .datos .texto{
    color: white;
    margin-top: -1vh;
}

.fa-envelope{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.15rem;
    margin-top: 0rem;
}


/* Formulario */
.index .formulario{
    background-color: #f4f6f7;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #f4f6f7;
    border-radius: 5px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;}

.index .formulario .boton,
.index .formulario #botonFormularioDisabled{
    padding: 0.75rem 2rem;
    background-color: #dc5572;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 4px;
    display: none;
}

.index .formulario #botonFormularioDisabled{
    display: block;
    background-color: #959595;
}

.index .formulario .textoError{
    padding: 0.3rem 0 0 0.1rem;
}

/* TABLET */

@media (min-width: 768px){  

    /* Banner */

.index .banner .subtitulo{
    margin-top: 2rem;
    padding: 0 10rem;
    line-height: 60px;
} 

.index .videoYoutube{
    width: 75vw;
}

.index .presentacion{
    margin: 1.5rem auto;
}

/* redes sociales */

.index .banner .listaMobile{
    padding: 0;
    justify-content: center;
}

    /* Información */

    .index .data{
        padding: 0 1rem;
    }
    
    .index .data .titulo{
        margin: 2.5rem 0.5rem 0.75rem 1.5rem;
    }
    
    .index .data .subtitulo{
        font-size: 30px;
        margin-top: 0rem;
    }
    
    .index .data .texto{
        font-size: 19px;
        padding: 1.5rem 2rem 0rem 1.5rem;
    }
    
    .index .data .lista{
        line-height: 30px;
        }
    
/* Productos */

.index .productos .informacion{
    margin: -0.5rem 0rem;
    padding: 2.25rem 2rem;
}

.index .informacion .titulo{
    font-size: 5vh;
    padding: 0rem;
    text-align: left;
}

.index .informacion .texto{
    font-size: 20px;
}

.index .informacion .accordion #acordeon-classic,
.index .informacion .accordion #acordeon-premium,
.index .informacion .accordion #acordeon-sensitive,
.index .informacion .accordion #acordeon-original,
.index .informacion .accordion #acordeon-detox{
    font-size: 1.35rem;
}

.index .informacion .accordion .boton-carrusel{
    font-size: 1.25rem;
}

.index .informacion .accordion-body{
    font-size: 20px;
}

.index .informacion .img{
    width: 50%;
    border-radius: 5px;
}

/* carrusel */
.carousel.pointer-event{
    margin: 1rem 5rem;
    }

   /*  Banner */

   .index .bannerML,
   .index .bannerMLDesktopMax{
    display: none;    
}

.index .bannerMLDesktop{
    display: block;
}

.index .bannerMLDesktop .imagen{
    width: 100vw;
}

/* Contacto */

    .index .contacto{
        margin: 3rem 0rem;
    }
    
    .index .contacto .titulo{
        font-size: 5vh;
    }
    
    .index .contacto .texto {
        padding: 0.5rem 3rem;
    }
    
    .index .contacto .datos .tarjeta1{
        margin: 0 10rem 1.5rem 10rem;
    }
    
    .index .contacto .datos .texto {
        font-size: 1.8rem;
        margin-top: -2.25vh;
    }

    .index .contacto .formulario{
        width: 85vw;
        margin: auto;
    }
    
   .index .fa-envelope{
        font-size: 1.8rem;
        margin-top: 0.1rem;
        margin-left: 3rem;
    }
    
    .index .contacto .form-label{
        font-size: 2.85vh;
    }
    
    .index .boton{
        font-size: 1.25rem;
    }
}

/* Desktop */

@media (min-width:1024px){

    /* banner */

    .index .banner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 6rem;
    }

    .index .banner .presentacion{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .index .videoYoutube{
        width: 50vw;
        padding-left: 5vw;
    }

    .index .banner .presentacion .parrafo{
        display: block;
        width: 40vw;
        text-align: left;
        padding-left: 3vw;
    }

    .index .banner .presentacion .parrafo .titulo{
        margin-top: 1rem;
        font-weight: 900;
        font-size: 2.4rem;
    }

    .index .banner .presentacion .parrafo .texto{
        display: none;
    }

    .index .banner .presentacion .parrafo .titulo,
    .indedx .banner .presentacion .parrafo .texto{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: left;
    }

    .index .banner .presentacion .redes{
        font-size: 2.5vw;
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
    }

    .index .banner .presentacion .redes .fa-instagram,
    .index .banner .presentacion .redes .fa-tiktok,
    .index .banner .presentacion .redes .fa-whatsapp,
    .index .banner .presentacion .redes .fa-youtube
    {
        color: #fff;
        padding: 1rem 1.2rem;
        border-radius: 50%;
        margin: 0 0.7rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     } 

    .index .banner .presentacion .redes .fa-instagram{
        background-color: #dc5572;
        margin-left: 0;
    }

    .index .banner .presentacion .redes .fa-instagram:hover{
        background-color: #E1306C;
    }

    .index .banner .presentacion .redes .fa-tiktok{
       background-color: #8B85CA;
    }

    .index .banner .presentacion .redes .fa-tiktok:hover{
        background-color: #000;
    }
    
    .index .banner .presentacion .redes .fa-whatsapp{
        background-color: #98c21e;
    }

    .index .banner .presentacion .redes .fa-whatsapp:hover{
        background-color: #25D366;
    }

    .index .banner .presentacion .redes .fa-youtube{
        background-color: #FF8C1E;
        padding: 1rem 0.8rem;
    }

    .index .banner .presentacion .redes .fa-youtube:hover{
        background-color: #FF0000;
    }

    .index .banner .presentacion .redes .fa-instagram:hover,
    .index .banner .presentacion .redes .fa-tiktok:hover,
    .index .banner .presentacion .redes .fa-whatsapp:hover,
    .index .banner .presentacion .redes .fa-youtube:hover{
        transition: 2000ms;
        font-weight: 900;
    }

    /* informacion */

    .index .data{
        margin: 1rem 0 0 0; 
        padding: 0 3rem;
        }

    .index .data .titulo{
        display: none;
        text-align: start;
        padding: 0 3rem;
    }

    .index .data .subtitulo{
        font-size: 30px;
        line-height: 40px;
        padding-left: 3rem;
        padding-top: 2rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    .index .data .texto{
        padding: 1.5rem 4rem 0rem 4.5rem;
    }

    .index .data .lista{
        margin: 0.75rem 2.75rem;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content:start;
    }

    .index .data .contenedor{
        display: flex;
        flex-direction: row;
    }

    .index .data .lista2{
        padding: 0 7rem;
    }

    /* .bannerML */
    .index .bannerML .imagen{
        margin: auto;
        display: none;
        justify-items: center;
        width: 80%;
        height: 55vh;
    }   

/* productos */

.index .productos .informacion{
    margin: 0vh;
    padding: 3vh 15vh;
}

/* carrusel */

.index .informacion .accordion #acordeon-classic,
.index .informacion .accordion #acordeon-premium,
.index .informacion .accordion #acordeon-sensitive,
.index .informacion .accordion #acordeon-original,
.index .informacion .accordion #acordeon-detox{
    opacity: 0.95;
}

.index .informacion .accordion #acordeon-classic:hover,
.index .informacion .accordion #acordeon-premium:hover,
.index .informacion .accordion #acordeon-sensitive:hover,
.index .informacion .accordion #acordeon-original:hover,
.index .informacion .accordion #acordeon-detox
    {
    opacity: 1;
}

.carousel.pointer-event{
    margin: 1rem 20vh;
    }

    .index .informacion .container{
        display: flex;
        justify-content: center;
 }
    
    .index .informacion .img,
    .index .informacion .img2,
    .index .informacion .img3{
    display: inline;
    width: 26%;
    padding: 0 1rem;
    margin: 1rem 0 2rem 0;
    object-fit: cover;
    box-shadow: none;
}

.index .informacion .img2{
    order: -1;
}

.index .informacion .accordion .boton-carrusel{
    margin-bottom: 1.5rem;
    margin-top: 0rem;
}

 /* .contacto */   
    
    .index .contacto{
        display: flex;
        justify-content: space-around;
        margin-left: 5vw;
    }

    .index .contacto .informacionContacto{
        width: 35vw;
        padding: 0;
        margin: -1rem 0 0 2rem;
    }

    .index .contacto .informacionContacto .titulo,
    .index .contacto .informacionContacto .texto{
        text-align: center;
        padding: 0.25rem 0;
    }

    .index .contacto .informacionContacto .texto{
        font-size: 20px;
    }

    .index .informacionContacto .contacto .texto{
        margin: 5rem 0.25rem;
        padding: 1rem 0;
    }

    .index .contacto .formulario{
        width: 45vw;
    }

    .index .contacto .datos .tarjeta1{
        margin: 0 1rem 1rem 1rem;
        padding: 1.5rem 3.5rem;
        opacity: 0.95;
        cursor: pointer;
    }

    .index .contacto .datos .tarjeta1:hover{
        transition: 0.5s;
        opacity: 1;
    }

    .index .contacto .datos .tarjeta1 .texto{
        margin-top: -1.35vh;
    }

    .index .contacto .fa-envelope{
        display: inline;
        margin-top: -0.65vh;
        margin-right: 1rem;
        margin-left: 0;
        font-size: 1.7rem;
    }
}

@media (min-width: 1240px){

    /* Banner */

    .index .banner{
        margin-left: 3rem;
    }

    .index .videoYoutube{
        width:50vw;
        padding-left: 5vw;
    }

    .index .banner .presentacion .parrafo{
        display: block;
        width: 40vw;
        text-align: left;
        padding-left: 3vw;
    }

    .index .banner .presentacion .parrafo .titulo{
        margin-top: 0rem;
        font-weight: 900;
        font-size: 3rem;
    }

    .index .banner .presentacion .parrafo .texto{
        display: none;
    }

    .index .banner .presentacion .redes{
        font-size: 3rem;
        margin-top: 2.3rem;
    }

    @media(min-width: 1440px){

        .index .videoYoutube{
            width:45vw;
            padding-left: 5vw;
        }

        .index .banner .presentacion .parrafo .titulo{
            font-size: 3.5rem;
        }

        .index .data{
            padding: 0 7vw;
        }

        .index .productos .informacion{
            padding: 2rem 11vw;
        }
        
        .index .bannerMLDesktop{
         display: none;    
     }

     .index .bannerMLDesktopMax{
        display: block;
     }

     .index .bannerMLDesktopMax .imagen{
        margin: auto;
        max-width: 100%;
        width: 100vw;
        height: 650px;
        padding: 0;
        margin: 0;
     }
    }
}
