.navbar{
    padding-top: 0.5rem;
    padding-bottom: 0;
    border: none;
}

.navbar-expand-lg {
    background-color: #2B2B2B!important;
    border: none;
}

.navbar-toggler:hover{
    border: 1px solid #fff;
 }

 .navbar-toggler:focus{
    border: 1px solid #fff;
 }

.fa-bars{
    padding: 0.3rem;
    color: #fff;
}

#classicMenu{
    background-color: #00ACBB;
    font-weight: 600;
}

#classicMenu:hover{
    background-color: #fff;
    color: #00ACBB;
}

#premiumMenu{
    background-color: #FF8C1E;
    font-weight: 600;
}

#premiumMenu:hover{
    transition: 2500;
    background-color: #fff;
    color: #FF8C1E;
    font-weight: 900;
}

#SensitiveMenu{
    background-color: #dc5572;
    font-weight: 600;
}

#SensitiveMenu:hover{
    background-color: #fff;
    color: #dc5572;
}

#headerBoton,
#headerBoton2,
#navbarDropdown{
    font-weight: 600;
    color: #fff;
}

#white{
    color: #fff;
}

.dropdown-menu{
    --bs-dropdown-bg: #2a2c2e!important;
    --bs-dropdown-border-color: none;
    --bs-dropdown-padding-y: 0rem;
}

.bandera{
    width: 9vw;
    padding-right: 0.3rem;
    margin-top: -0.2rem;
}

.flag{
    background-color: #2B2B2B;
    padding: 0.25rem 0rem;
    font-weight: 600;
}

@media (min-width: 768px){
    .bandera{
        width: 6vw;
    }
}

@media (min-width: 1024px){
    .bandera{
        width: 3.2vw;
        padding-left: 0.5rem;
        margin-top: -0.2rem;
    }

    .flag{
        padding: 0.25rem 0.5rem;
    }

    .navbar-expand-lg .navbar-collapse{
        margin-right: 2.9rem;
    }
}

@media (min-width: 1440px){
    .bandera{
        width: 2.5vw;
        padding-left: 0.5rem;
        margin-top: -0.25rem;
    }

    .flag{
        padding: 0.25rem 0.5rem;
    }
}