.navbar{
    padding-top: 0.5rem;
    padding-bottom: 0;
}

.navbar-expand-lg {
    background-color: #2a2c2e!important;
}

.navbar-toggler:hover{
    border: 1px solid #fff;
 }

 .navbar-toggler:focus{
    border: 1px solid #fff;
 }

.fa-bars{
    padding: 0.3rem;
    color: #fff;
}

#classicMenu{
    background-color: #00ACBB;
    font-weight: 600;
}

#classicMenu:hover{
    background-color: #fff;
    color: #00ACBB;
}

#premiumMenu{
    background-color: #FF8C1E;
    font-weight: 600;
}

#premiumMenu:hover{
    transition: 2500;
    background-color: #fff;
    color: #FF8C1E;
    font-weight: 900;
}

#SensitiveMenu{
    background-color: #dc5572;
    font-weight: 600;
}

#SensitiveMenu:hover{
    background-color: #fff;
    color: #dc5572;
}

#headerBoton,
#navbarDropdown{
    font-weight: 600;
    color: #fff;
}
