.newFooter{
  padding: 2rem 1.5rem;
  font-family: "bueno"!important;
  background-color: black;
  color: white;
}

.newFooter .containerTitulos{
  display: flex;
  flex-direction: column;
}

.newFooter .titulo{
  font-size: 5rem;
  margin-bottom: -1rem;
  font-family: "bueno"!important;
}

.newFooter .subtitulo{
  font-size: 2.5rem;
  font-family: "bueno"!important;
}

.newFooter .navs{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.75rem;
}

.newFooter .navs .links{
  margin: 0 0.75rem;
  font-size: 1.2rem;
  list-style: none; 
  text-decoration: underline;
  cursor: pointer;
  font-family: "bueno"!important;
}

.newFooter .containerData{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.newFooter .containerData .titulo{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: "bueno"!important;
}

.newFooter .containerData .subtitulo{
  font-size: 1.5rem;
  font-family: "bueno"!important;

}


/* iconos */

.newFooter .iconosMenu .iconos{
  display: flex;
  margin-top: 1.25rem;
}

.newFooter .iconosMenu .fa-instagram,
.newFooter .iconosMenu .fa-tiktok,
.newFooter .iconosMenu .fa-whatsapp{
  color: #fff;
  padding: 0.75rem;
  margin-right: 1rem;
  font-size: 1.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
.newFooter .iconosMenu .fa-instagram{
  background-color: #dc5572;
  border-radius: 50%;
}

.newFooter .iconosMenu .fa-tiktok{
  background-color: #FF8C1E;
  border-radius: 50%;
}

.newFooter .iconosMenu .fa-whatsapp{
  background-color: #98c21e;
  border-radius: 50%;
}

.newFooter .iconosMenu .fa-instagram:hover,
.newFooter .iconosMenu .fa-tiktok:hover,
.newFooter .iconosMenu .fa-whatsapp:hover
{
  font-weight: 700;
}


.newFooter .iconosMenu .derechos{
  text-align: center;
  color: rgb(220, 217, 217);
  font-weight: 400;
  margin-top: -1rem;
  margin-bottom: 0rem;
  padding-bottom: 1rem;
  font-size: 3.35vw;
}


@media (min-width: 1024px){
  .newFooter{
    padding: 2rem 1.5rem;
  }
  
  .newFooter .containerTitulos{
    flex-direction: row;
    justify-content: space-between;
    align-items:first baseline;
  }
  
  .newFooter .titulo{
    font-size: 9rem;
  }
  
  .newFooter .subtitulo{
    font-size: 4rem;
  }
  
   .newFooter .navs{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
  }
  
  .newFooter .navs .links{
    margin: 0 0.75rem;
    font-size: 1.5rem;
    list-style: none; 
    text-decoration: underline;
  }
  
  .newFooter .containerData{
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    align-items:first baseline
  }

  .newFooter .containerNavs{
    display: flex;
    justify-content: space-between;
    align-items:first baseline;
    margin-top: -2rem;
  }
  
  .newFooter .containerData .titulo{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .newFooter .containerData .subtitulo{
    font-size: 1.5rem;
  }
}