.newFooter{
  padding: 2rem 1.5rem;
  font-family: "bueno"!important;
  background-color: black;
  color: white;
}

.newFooter .LogoyRedes{
  display: flex;
  flex-direction: column;
}

.newFooter .LogoyRedes .img{
  width: 40vw;
  margin: 3rem 0 2rem;
}

.newFooter .LogoyRedes .iconosMenu .texto{
  color: gray;
  font-weight: 900;
}

.newFooter .LogoyRedes .iconosMenu .iconos{
  display: flex;
  margin-top: 1.25rem;
}

.newFooter .LogoyRedes .iconosMenu .fa-instagram,
.newFooter .LogoyRedes .iconosMenu .fa-tiktok,
.newFooter .LogoyRedes .iconosMenu .fa-whatsapp{
  color: #fff;
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 1.75rem;
  margin-top: -0.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

.newFooter .LogoyRedes .iconosMenu .fa-instagram{
  background-color: #dc5572;
  border-radius: 50%;
}

.newFooter .LogoyRedes .iconosMenu .fa-tiktok{
  background-color: #FF8C1E;
  border-radius: 50%;
}

.newFooter .LogoyRedes .iconosMenu .fa-whatsapp{
  background-color: #98c21e;
  border-radius: 50%;
}

.newFooter .LogoyRedes .iconosMenu .fa-instagram:hover,
.newFooter .LogoyRedes .iconosMenu .fa-tiktok:hover,
.newFooter .LogoyRedes .iconosMenu .fa-whatsapp:hover
{
  font-weight: 700;
}


.newFooter .links{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.newFooter .links .subtitulo{
  font-weight: 900;
  margin-top: 2rem;
  font-family: "Inter", sans-serif;
}

.newFooter .links .quick,
.newFooter .links .todaPagina{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.newFooter .links .quick nav,
.newFooter .links .todaPagina nav{
  display: flex;
  flex-direction: column;
}

.newFooter .links .quick .items,
.newFooter .links .todaPagina .items{
  margin: 0.25rem 0;
  color: gray;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Switzer', sans-serif;
}

.newFooter .links .quick .items:hover,
.newFooter .links .todaPagina .items:hover{
  font-weight: 700;
  color: #fff;
}

.newFooter .linea{
  margin-top: 2rem;
  border-top: 2px solid gray;
}

.newFooter .textoFinal{
  text-align: center;
  color: gray;
  margin: 1.5rem 0 1rem;
}

@media (min-width: 768px){

  .newFooter{
    padding: 2rem 3rem;
  }
  
  .newFooter .LogoyRedes .img{
    width: 25vw;
    margin: 3rem 0 2rem;
  }

  .newFooter .links{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

}

@media (min-width: 1024px){
  .newFooter{
    padding: 1.5rem 1.5rem;
  }

  .newFooter .container{
    display: flex;
    justify-content: space-between;
  }

  .newFooter .LogoyRedes .img{
    width: 15vw;
    margin: 3rem 0 4rem;
  }

  
  .newFooter .containerTitulos{
    flex-direction: row;
    justify-content: space-between;
    align-items:first baseline;
  }
  
  .newFooter .titulo{
    font-size: 9rem;
  }
  
  .newFooter .subtitulo{
    font-size: 1.2rem;
  }
  
  .newFooter .links .quick{
    margin: 0 5rem;
  }


  .newFooter .linea{
    margin-top: 1.5rem;
  }
  
  .newFooter .textoFinal{
    margin-bottom: 0;
  }
  
  @media (min-width: 1440px){
    
    .newFooter .LogoyRedes .img{
      width: 8vw; 
       }  

  }
}