.nosotros{
    margin-bottom: -3rem;
}

.nosotros .historia,
.nosotros .objetivos,
.nosotros .redes,
.nosotros .materiaPrima{
    padding-top: 2rem;
}

.nosotros .historia .titulo,
.nosotros .objetivos .titulo,
.nosotros .redes .titulo,
.nosotros .materiaPrima .titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0 16px;
    color: #000;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
}

.nosotros .redes .titulo{
    font-size: 2.15rem;
}

.nosotros .historia .texto,
.nosotros .objetivos .texto,
.nosotros .redes .texto,
.nosotros .materiaPrima .texto{
    font-family: 'Mulish', sans-serif;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0 16px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 0;
}

.nosotros .img1{
    width: 100%;
    margin-top: 1rem;
}

.nosotros .img2{
    display: none;
    margin-top: 1rem;
}

.nosotros .objetivos{
    padding: 2rem 0 0 0;
    background-color: #2a2e33;
}

.nosotros .objetivos .texto{
    padding-bottom: 1rem;
}

.nosotros .objetivos .titulo,
.nosotros .objetivos .texto{
    color: #f4f6f7;
}

.nosotros .contador{
    background-color: #2a2e33;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

}

.nosotros .contador .numeros{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin-top: -1.25rem;
}

.nosotros .contador .texto{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-top: -2.25rem;
    font-weight: 400;
    color: #fff;
}

.nosotros .redes{
    padding-bottom: 5rem;
}

.nosotros .materiaPrima{
    background-color: #dc5572;
    color: #fff;
}

.nosotros .materiaPrima .titulo{
    color: #fff;
}

.nosotros .materiaPrima .texto{
    padding-bottom: 1rem;
}

@media (min-width: 768px){
     .nosotros .contador{
        flex-direction: row;
        justify-content: center;
        padding: 2rem 0rem;
    }

    .nosotros .contador .contenedor{
        padding: 0 0.75rem;
    }

    .nosotros .contador .numeros{
        font-size: 4.25rem;
    }

}

@media (min-width: 1024px){

  .nosotros .historia,
  .nosotros .objetivos
  .nosotros .redes,
  .nosotros .materiaPrima{
    display: flex;
    padding: 0;  
    margin: 0;  
    width: 100vw;
  }

  .nosotros .historia{
    margin-top: 1rem;
    padding: 0;
  }

  .nosotros .objetivos{
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin: 0;
  }

  .nosotros .objetivos .contenedor,
  .nosotros .redes .contenedor,
  .nosotros .materiaPrima .contenedor{
    width: 50%;
    padding: 1.5rem 2rem 2.5rem;
  }

  .nosotros .historia .contenedor{
    padding: 0rem 2rem 3rem;
    margin: 0;
  }

  .nosotros .contenedorImagenes{
    width: 50vw;
    max-width: 50vw;
  }

  .nosotros .img1{
    width: 50vw;
    height: 100%;
    margin-top: 0;
    margin: 0;
    padding: 0;
    border-radius: 3px;
} 

.nosotros .historia .titulo,
.nosotros .objetivos .titulo,
.nosotros .redes .titulo,
.nosotros .materiaPrima .titulo{
    padding-top: 0rem;
    margin-bottom: 1vh;
    padding-bottom: 1.5rem;
     font-size: 3.5vw;
}

.nosotros .historia .texto,
.nosotros .objetivos .texto,
.nosotros .redes .texto,
.nosotros .materiaPrima .texto{
    font-size: 1.85vw;
    line-height: 1.3;
} 

.nosotros .redes{
    padding: 5rem 2rem;
}

.nosotros .contador{
    padding: 4rem 0rem;
}

.nosotros .contador .numeros{
    font-size: 5.5rem;
}

.nosotros .contador .texto{
    font-size: 2rem;
}
}

@media (min-width:1440px){

    .nosotros .historia .titulo,
.nosotros .objetivos .titulo,
.nosotros .redes .titulo,
.nosotros .materiaPrima .titulo{
     font-size: 3.3vw;
}

.nosotros .historia .texto,
.nosotros .objetivos .texto,
.nosotros .redes .texto,
.nosotros .materiaPrima .texto{
    font-size: 1.65vw;
    line-height: 1.3;
} 

.nosotros .objetivos .contenedor,
.nosotros .materiaPrima .contenedor{
  padding-top: 4rem;
}
}