/* tarjetas */

.nosotros .tarjetas{
    margin: 1vh;
    padding: 0vh 3vh;
}

.nosotros .tarjetas .quienesSomos,
.nosotros .tarjetas .nosotros,
.nosotros .tarjetas .redes{
    border-radius: 10px;
}


.nosotros .tarjetas .quienesSomos .titulo,
.nosotros .tarjetas .nosotros .titulo,
.nosotros .tarjetas .redes .titulo{
    padding-top: 3vh;
    color: white;
    text-align: center;
    font-size: 9vw;
    font-weight: 500;
}

.nosotros .tarjetas .quienesSomos .texto,
.nosotros .tarjetas .nosotros .texto,
.nosotros .tarjetas .redes .texto{
    padding: 2vh 5vh 7vh 5vh;
    color: white;
    text-align: center;
    font-size: 2.85vh;
}

.fa-globe,
.fa-cube,
.fa-address-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    color: white;
    padding-top: 4vh;
    font-size: 2.05rem;
}

.nosotros .ubicacion{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #f4f6f7;
    padding: 1.35rem;
    margin-top: 0.5rem;
}

.nosotros .ubicacion .titulo{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1rem;
}

.nosotros .ubicacion .mapa{
    display: flex;
    margin: auto;
    width: 80vw;
    padding-top: 0.5rem;
    border-color: #2a2e33;
    border-radius: 15px;
}

@media (min-width: 768px){
       /* Tarjetas */

.nosotros .tarjetas{
    margin: 10vh;
    padding: 0vh 7vh;
}

.nosotros .tarjetas .quienesSomos .titulo,
.nosotros .tarjetas .nosotros .titulo,
.nosotros .tarjetas .redes .titulo{
    font-size: 6vw;
}

.nosotros .tarjetas .quienesSomos .texto,
.nosotros .tarjetas .nosotros .texto,
.nosotros .tarjetas .redes .texto{
    font-size: 2.85vh;
}

.fa-globe,
.fa-cube,
.fa-address-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    color: white;
    padding-top: 4vh;
    font-size: 2.5rem;
}


}

@media (min-width: 1024px){
     /* Tarjetas */

     .nosotros .tarjetas{
        display: flex;
        justify-content: space-around;
        margin: 2rem 0rem;
        padding: 1rem;
        }
    
        .nosotros .tarjetas .quienesSomos,
        .nosotros .tarjetas .nosotros,
        .nosotros .tarjetas .redes{
            width: 25vw;
        }

        .nosotros .tarjetas .quienesSomos .titulo,
    .nosotros .tarjetas .nosotros .titulo,
    .nosotros .tarjetas .redes .titulo{
        font-size: 2vw;
    }
    
    .nosotros .tarjetas .quienesSomos .texto,
    .nosotros .tarjetas .nosotros .texto,
    .nosotros .tarjetas .redes .texto{
        font-size: 1.9vh;
        padding: 1vw 0.5vw 0vw 0.5vw;
    }
    
    .nosotros .tarjetas .iconosRedes{
        margin-top: -1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nosotros .fa-whatsapp,
    .nosotros .fa-instagram,
    .nosotros .fa-youtube,
    .nosotros .fa-tiktok{
        font-size: 2.5vw;
        padding: -1rem 0.5rem;
        margin-bottom: 2rem;
    }
    
    .fa-globe,
    .fa-cube,
    .fa-address-card{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
        color: white;
        padding-top: 0vh;
        font-size: 2.2rem;
    }

    /* ubicación */

    .nosotros .ubicacion{
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: #f4f6f7;
        padding: 1.35rem;
        margin: 0.5rem 6rem 2rem 6rem;
        border-radius: 10px;
    }
    
    .nosotros .ubicacion .titulo{
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 1rem;
        padding: 0 8rem;
    }
    
    .nosotros .ubicacion .mapa{
        width: 70vw;
        height: 380px;
        padding-top: 0.5rem;
        border-color: #2a2e33;
        border-radius: 15px;
    }
}

@media (min-width: 1440px){

    /* mapa */

    .nosotros .ubicacion .mapa{
        height: 420px;
    }
}