.DetalleProductos .nav .boton{
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    margin: 1.5rem 1rem;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

  .DetalleProductos .nav .boton::after {
    content: "";
    background: #223d5f; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .DetalleProductos .nav .boton:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }














.DetalleProductos a{
    text-decoration: none;
}

.DetalleProductos .btn-group{
    margin: 0 0 1.5rem 1rem;
}

.DetalleProductos .producto{
    background-color: #f4f6f7;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.DetalleProductos .producto .imagen-precio .img{
    width: 70vw;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.DetalleProductos .producto .imagen-precio .data{
    text-align: center;
    margin-top: 1vw;
}

.DetalleProductos .producto .imagen-precio .titulo{
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
}

.DetalleProductos .producto .imagen-precio .detalles{
    font-size: 20px;
    margin: 0.5rem;
    color: #000;
}

.DetalleProductos .producto .imagen-precio .boton{
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 20px;
    margin-top: 0.65rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.DetalleProductos .descripcion{
    text-align: center;
    margin: 1.5rem 1rem;
}

.DetalleProductos .producto .logos{
    width: 33vw;
}

.DetalleProductos .producto .descripcion .info .titulo,
.DetalleProductos .producto .descripcion .caracteristicas .titulo,
.DetalleProductos .producto .descripcion .modo .titulo{
    font-size: 25px;
    font-weight: 600;
    margin: 1.5rem;
    text-transform: uppercase;
}

.DetalleProductos .producto .descripcion .tituloLogos{
    margin-top: 1rem;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.DetalleProductos .producto .descripcion .texto{
    font-size: 18px;
}

.DetalleProductos .video{
    margin: 1rem auto;
    margin-bottom: 0;
}

.DetalleProductos .video .videoYoutube{
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    width: 80vw;
}

/* Más productos */

.DetalleProductos .masproductos{
    background-color: #f4f6f7;
    margin: 1.5rem 0;
}

.DetalleProductos .masproductos .titulo{
    font-size: 25px;
    font-weight: 600;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.DetalleProductos .masproductos .d-block{
    border-radius: 5px;
}


@media (min-width: 768px){

    .DetalleProductos .containerNav{
        display: flex;
        justify-content: space-between;
    }

    .DetalleProductos .btn-group{
        margin-top: 1.5rem;
    }


    .DetalleProductos .nav .boton{
        font-size: 1.3rem;
    }

.DetalleProductos .producto .imagen-precio{
    display: flex;
    justify-content: center;
}

.DetalleProductos .producto .container,
.DetalleProductos .producto .data{
    width: 50vw;
}

.DetalleProductos .producto .container .img{
    width: 300px;
}

.DetalleProductos .producto .imagen-precio .data{
    margin-top: 3rem;
    padding: 1rem 1rem 0 4rem;
}

.DetalleProductos .producto .imagen-precio .data .titulo{
    font-size: 35px;
}

.DetalleProductos .producto .imagen-precio .data .titulo,
.DetalleProductos .producto .imagen-precio .data .detalles{
    text-align: left;
    padding: 0rem;
}

.DetalleProductos .producto .imagen-precio .detalles{
    font-size: 24px;
    margin: 0.5rem 0;
}


.DetalleProductos .producto .imagen-precio .boton{
    margin: 1rem 0rem;
    display: flex;
    justify-content: left;
    font-size: 24px;
}


.DetalleProductos .descripcion{
    padding: 0 2rem;
}

.DetalleProductos .producto .descripcion .info .titulo,
.DetalleProductos .producto .descripcion .caracteristicas .titulo,
.DetalleProductos .producto .descripcion .modo .titulo{
    font-size: 35px;
}

.DetalleProductos .producto .descripcion .texto{
    font-size: 24px;
}

.DetalleProductos .producto .logos{
    width: 22vw;
}

.DetalleProductos .producto .descripcion .tituloLogos,
.DetalleProductos .masproductos .titulo{
    font-size: 27px;
}

.DetalleProductos .video .videoYoutube{
    width: 70vw;
    height: 330px;
}

.DetalleProductos .w-100{
    width: 50%!important;
    display: flex;
    margin: auto;
}
}


@media (min-width: 1024px){

    .DetalleProductos .producto,
    .DetalleProductos .masproductos{
        margin: 1rem 5rem;
        border-radius: 15px;
    }

    .DetalleProductos .nav .boton{
        margin-left: 5rem;
    }

    .DetalleProductos .btn-group{
        margin-top: 1.5rem;
        margin-right: 5rem;
    }


    /* características */

    .DetalleProductos .producto .caracteristicas .container{
        display: flex;
        flex-wrap: wrap;
    }

    .DetalleProductos .producto .caracteristicas .container .subcontainer{
        display: flex;
        flex-direction: row;
        width: 45%;
        margin-left: 1rem;
        margin-top: 1.5rem;

        }

    .DetalleProductos .producto .logos{
        width: 10vw;
    }

    /* video */
    .DetalleProductos .video .videoYoutube{
        width: 50vw;
        height: 400px;
    }


    /* Más productos */

    .DetalleProductos .carousel{
        display: none;
    }

    .DetalleProductos .tarjetasDesktop{
        display: flex;
        justify-content: center;
        padding: 2rem 0;
    }

    .DetalleProductos .tarjetasDesktop .card{
        margin: 0rem 7rem;
    }
}