<section id="inicio">
    <img class="banner-mobile" src="/images/banner/portadaMobile.webp" alt="Banner Rubicat">
        </section>

<section id="inicio">
    <img class="banner-desktop" src="/images/banner/portadaTablet.png" alt="Banner Rubicat">
        </section>

<section id="inicio">
     <img class="banner-desktop-max" src="/images/banner/portadaDesktopMax.webp" alt="Banner Rubicat">
         </section>

         <div class="menuBanner">
            <div class="iconosBanner">
            <a href="https://www.instagram.com/rubicatarena/" target="_blank" title="Instagram Rubicat"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@rubicatarena" target="_blank" title="Tiktok Rubicat"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+541132762324&text=Hola ðŸ˜" target="_blank" title="Whatsapp Rubicat"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        </div>
