<section>
    <img class="banner-mobile" src="/images/banner/banner-mobile.png">
        </section>

<section>
    <img class="banner-desktop" src="/images/banner/banner-desktop.png">
        </section>