<section id="inicio">
    <img class="banner-mobile" src="/images/banner/portada-01Mobile.webp" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750" alt="Banner Rubicat">
        </section>

<section id="inicio">
    <img class="banner-desktop" src="/images/banner/portadaDesktop.webp" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750" alt="Banner Rubicat">
        </section>

<section id="inicio">
     <img class="banner-desktop-max" src="/images/banner/portadaDesktopMax.webp" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750" alt="Banner Rubicat">
         </section>
