<section id="inicio">
    <img class="banner-mobile" src="/images/banner/portada-01Mobile.png" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750">
        </section>

<section id="inicio">
    <img class="banner-desktop" src="/images/banner/portada-01Desktop.png" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750">
        </section>

<section id="inicio">
     <img class="banner-desktop-max" src="/images/banner/portadaDesktopMax.png" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750">
         </section>

