<section>
    <img class="banner-mobile" src="/images/banner/banner-mobile.png" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750">
        </section>

<section>
    <img class="banner-desktop" src="/images/banner/banner-desktop.png" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="750">
        </section>