<section id="inicio">
    <img class="banner-mobile" src="/images/banner/portada-01Mobile.webp" alt="Banner Rubicat">
        </section>

<section id="inicio">
    <img class="banner-desktop" src="/images/banner/portadaDesktop.webp" alt="Banner Rubicat">
        </section>

<section id="inicio">
     <img class="banner-desktop-max" src="/images/banner/portadaDesktopMax.webp" alt="Banner Rubicat">
         </section>
