<section class="footer">
    
    <div class="datos">
        <!-- <h5 class="titulo">RUBICAT</h5> -->
        <img class="logoFooter" src="/images/index/logoPortada.png">
            <p class="slogan">Un llamado de la Naturaleza</p>
            <a href="https://www.google.com/maps/place/Rubicat/@-34.7842312,-58.4225605,15z/data=!4m2!3m1!1s0x0:0x462185e1b045681f?sa=X&ved=2ahUKEwiY6aieleX4AhUuuJUCHSoNCiYQ_BJ6BAhdEAU"><p class="ubicacion">Buenos Aires - Argentina</p></a>
    </div>

  
      <div class="iconosMenu">
        <div class="iconos">
        <a href="https://www.instagram.com/rubicatarena/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@rubicatarena" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+541132762324&text=HolaðŸ˜" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </div>

            <div class="menu">
               <ul class="lista">
                <a href="/distribuidores"><li class="links">Distribuidores</li></a>
                <a href="#"><li class="links">Inicio</li></a>
                <a href="#contacto"><li class="links">Contacto</li></a>
            </ul> 
        </div>

            <p class="derechos">Â© Rubicat - Todos los derechos reservados.</p>
        
    </div>

    

</section>