<footer class="newFooter">
  
  <div class="containerTitulos">
    <p class="titulo">RUBICAT</p>
    <p class="subtitulo">CUIDAMOS LO QUE AMÁS</p>
  </div>

  <div class="containerNavs">
  
  <nav class="navs">
    <li class="links">NOSOTROS</li>
    <li class="links">TE AYUDAMOS A ELEGIR</li>
    <li class="links">¿DÓNDE COMPRAR?</li>
    <li class="links">EDUCATE CON NOSOTROS</li>
    <li class="links">NOVEDADES</li>
  </nav>

    <div class="iconosMenu">
        <div class="iconos">
        <a href="https://www.instagram.com/rubicatarena/" target="_blank" title="Instagram Rubicat"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@rubicatarena" target="_blank" title="Tiktok Rubicat"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+541132762324&text=Hola 😁" target="_blank" title="Whatsapp Rubicat"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
 
  </div>
  
</div>

  <div class="containerData">
    <div>
      <p class="titulo">BUENOS AIRES - ARGENTINA</p>
    </div>

    <div>
      <p class="subtitulo">GALIDÉ - MKT DIGITAL</p>
    </div>
    
  </div>

  </footer>