<footer class="site-footer" role="contentinfo">
    <div class="footer-inner">
      <div class="footer-top">
        <img src="../../../images/NewIndex/Logos/Footer.png" class="logoFooter" alt="Logo">
  
        <nav class="footer-nav" aria-label="Footer">
          <ul>
            <li><a href="/contact">Nosotros</a></li>
            <li><a href="/media">Te ayudamos a elegir</a></li>
            <li><a href="/about">¿Dónde comprar?</a></li>
            <li><a href="/careers">Novedades</a></li>
          </ul>
        </nav>
      </div>
  
      <div class="footer-bottom">
        <a href="/legal" class="footer-privacy">Buenos Aires - Argentina</a>
        <div class="footer-legal">Galidé - MKT Digital</div>
      </div>
    </div>
  </footer>